@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {

        @*var cate = item.product.IdCategoryProductNavigation != null ? item.product.IdCategoryProductNavigation.Name : "";*@
        <!-- Product -->
        <div class="product-item @item.NameCategory.Replace(" ","_").ToLower()">
            <div class="product discount product_filter">
                <div class="product_image d-flex align-items-center justify-content-center" style="height: 60%">
                    @if (item.product.Image != null && item.product.Avatar != null)
                    {
                        <img src="@item.product.Image.Split(';')[(int)item.product.Avatar]" alt="" style="max-height: 80%; max-width: 80% ">
                    }
                    else
                    {
                        <img src="#" alt="No image">
                    }
                </div>
                <div class="favorite favorite_left"></div>
                @if (item.product.PriceSale > 0)
                {
                    var reducingAmount = item.product.Price - item.product.PriceSale;
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                        <span>-@reducingAmount</span>
                    </div>
                }
                <div class="product_info">
                    <h6 class="product_name"><a href="/detail/@item.product.Name.Replace(" ", "_").ToLower()-p@(item.product.Id)">@item.product.Name</a></h6>
                    @if (item.product.PriceSale > 0)
                    {
                        <div class="product_price">@item.product.PriceSale<span>$@item.product.Price</span></div>
                    }
                    else
                    {
                        <div class="product_price">$@item.product.Price<span></span></div>
                    }
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.product.Id">add to cart</a></div>
        </div>
    }
}