@model IEnumerable<ColoShop.Models.Product>
@{
    ViewData["Title"] = "Product By Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section OtherCss {
    <link rel="stylesheet" type="text/css" href="~/clients/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="~/clients/styles/categories_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/clients/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
}

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.CateName</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section" id="siderbar_category">
                    <div class="sidebar_title">
                        <h5>Product Category</h5>
                    </div>

                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Filter by Price</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        <input type="hidden" id="maxPrice" value="@(ViewBag.MaxPrice + 1)" />
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>filter</span></div>
                </div>

                @*<!-- Sizes -->
                <div class="sidebar_section">
                <div class="sidebar_title">
                <h5>Sizes</h5>
                </div>
                <ul class="checkboxes">
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                </ul>
                </div>

                <!-- Color -->
                <div class="sidebar_section">
                <div class="sidebar_title">
                <h5>Color</h5>
                </div>
                <ul class="checkboxes">
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                </ul>
                <div class="show_more">
                <span><span>+</span>Show More</span>
                </div>
                </div>*@
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Views</h5>
                    </div>
                    <div id="view_statistic">
                    </div>
                </div>
            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Default Sorting</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Show</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div id="prev_page" class="page_next mr-3"><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
                                    <div class="page_current">
                                        <span>1</span>
                                        @*<ul class="page_selection">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        </ul>*@
                                    </div>
                                    <div class="page_total"><span>of</span> 3</div>
                                    <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>

                            <!-- Product Grid -->

                            <div id="product_grid" class="product-grid">
                                <!-- Product -->
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        var cate = item.IdCategoryProductNavigation != null ? item.IdCategoryProductNavigation.Name.Split("\'")[0].ToLower() : "";
                                        <div class="product-item @cate">
                                            <div class="product discount product_filter">
                                                <div class="product_image d-flex justify-content-center align-items-center" style="height:60%">
                                                    @if (item.Image != null)
                                                    {
                                                        item.Avatar ??= 0;
                                                        <img src="@item.Image.Split(";")[(int) item.Avatar]" alt="" style="max-width:80%; max-height: 100%">
                                                    }
                                                </div>
                                                <div class="favorite favorite_left"></div>

                                                @if (item.PriceSale > 0)
                                                {
                                                    var reducingAmount = item.Price - item.PriceSale;
                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                                        <span>-@reducingAmount</span>
                                                    </div>
                                                }
                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/detail/@item.Name.Replace(" ", "_").ToLower()-p@(item.Id)">@item.Name</a></h6>
                                                    @if (item.PriceSale > 0)
                                                    {
                                                        <div class="product_price">$@item.PriceSale<span>$@item.Price</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product_price">$@item.Price</div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>
                                        </div>
                                    }

                                }
                            </div>

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                <ul class="product_sorting">
                                    @*<li>
                                    <span>Show:</span>
                                    <span class="num_sorting_text">04</span>
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="sorting_num">
                                    <li class="num_sorting_btn"><span>01</span></li>
                                    <li class="num_sorting_btn"><span>02</span></li>
                                    <li class="num_sorting_btn"><span>03</span></li>
                                    <li class="num_sorting_btn"><span>04</span></li>
                                    </ul>
                                    </li>*@
                                </ul>
                                <span class="showing_results">@Model.Count() results</span>
                                @*<div class="pages d-flex flex-row align-items-center">
                                <div class="page_current">
                                <span>1</span>
                                <ul class="page_selection">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                </ul>
                                </div>
                                <div class="page_total"><span>of</span> 3</div>
                                <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/clients/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/clients/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/clients/js/categories_custom.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/menu/MenuLeft?currentCate=@ViewBag.CateName',
                method: 'GET',
                success: function (res) {
                    $('#siderbar_category').append(res)
                }
            })

            $.ajax({
                url: '/products/Partial_StatisticTable',
                method: 'GET',
                success: function (res) {
                    $('#view_statistic').html(res)
                }
            })
        })
    </script>
}

